.main-nav {
  display: flex;
  align-items: center;
}
.navigation {
  display: flex;
  align-items: center;
  margin-right: auto;
}
.logo {
  color: $text-title-color;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;

  margin-right: 85px;
}
.logo-web {
  font-family: Raleway;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: $accent-text;
}
.list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.site-nav {
  display: flex;
  margin-left: 85px;
}
.menu-item:not(:last-child) {
  margin-right: 50px;
}
.site-nav .link {
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;
  color: $text-title-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $time-animation $time-function;
}
.link.current {
  color: $accent-text;
}
.link.current::after {
  content: "";
  display: block;
  width: 100%;
  height: 4px;
  background: $accent-text;
  border-radius: 2px;
  transform: translateY(32px);
}
.link {
  color: $accent-text;
}
.link:hover,
.link:focus {
  color: $accent-text;
}

address {
  margin-left: auto;
  font-style: normal;
}

.address-nav {
  display: flex;
  font-style: normal;
}
.site-nav .link:hover,
.site-nav .link:focus {
  color: $accent-text;
}

.address-link {
  color: $main-text-color;
  font-weight: 500;
  letter-spacing: 0.02em;
  text-decoration: none;
  transition: color $time-animation $time-function;
}

.address-link:focus,
.address-link:hover {
  color: $accent-text;
}
.address-nav .item + .item {
  margin-left: 30px;
}
.icon-header {
  margin-right: 10px;
  fill: currentColor;
  vertical-align: middle;
}
